<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>eGatePassProject</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
    <welcome-file>Signup.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ForgetPasswordServlet</display-name>
    <servlet-name>ForgetPasswordServlet</servlet-name>
    <servlet-class>com.controller.ForgetPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPasswordServlet</servlet-name>
    <url-pattern>/ForgetPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAcceptedRequest</display-name>
    <servlet-name>ViewAcceptedRequest</servlet-name>
    <servlet-class>com.controller.ViewAcceptedRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAcceptedRequest</servlet-name>
    <url-pattern>/ViewAcceptedRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAdminAcceptedRequest</display-name>
    <servlet-name>ViewAdminAcceptedRequest</servlet-name>
    <servlet-class>com.controller.ViewAdminAcceptedRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAdminAcceptedRequest</servlet-name>
    <url-pattern>/ViewAdminAcceptedRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAdminRejectedRequest</display-name>
    <servlet-name>ViewAdminRejectedRequest</servlet-name>
    <servlet-class>com.controller.ViewAdminRejectedRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAdminRejectedRequest</servlet-name>
    <url-pattern>/ViewAdminRejectedRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAdminPendingRequest</display-name>
    <servlet-name>ViewAdminPendingRequest</servlet-name>
    <servlet-class>com.controller.ViewAdminPendingRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAdminPendingRequest</servlet-name>
    <url-pattern>/ViewAdminPendingRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassStatus</display-name>
    <servlet-name>ChangePassStatus</servlet-name>
    <servlet-class>com.controller.ChangePassStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassStatus</servlet-name>
    <url-pattern>/ChangePassStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllRequestServlet</display-name>
    <servlet-name>GetAllRequestServlet</servlet-name>
    <servlet-class>com.controller.GetAllRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllRequestServlet</servlet-name>
    <url-pattern>/GetAllRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllRequestServlet</display-name>
    <servlet-name>AllRequestServlet</servlet-name>
    <servlet-class>com.controller.AllRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllRequestServlet</servlet-name>
    <url-pattern>/AllRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeMyPasswordServlet</display-name>
    <servlet-name>ChangeMyPasswordServlet</servlet-name>
    <servlet-class>com.controller.ChangeMyPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeMyPasswordServlet</servlet-name>
    <url-pattern>/ChangeMyPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HodDashboard</display-name>
    <servlet-name>HodDashboard</servlet-name>
    <servlet-class>com.controller.HodDashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HodDashboard</servlet-name>
    <url-pattern>/HodDashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewHodAcceptedRequest</display-name>
    <servlet-name>ViewHodAcceptedRequest</servlet-name>
    <servlet-class>com.controller.ViewHodAcceptedRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewHodAcceptedRequest</servlet-name>
    <url-pattern>/ViewHodAcceptedRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewHodPendingRequest</display-name>
    <servlet-name>ViewHodPendingRequest</servlet-name>
    <servlet-class>com.controller.ViewHodPendingRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewHodPendingRequest</servlet-name>
    <url-pattern>/ViewHodPendingRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewHodRejectedRequest</display-name>
    <servlet-name>ViewHodRejectedRequest</servlet-name>
    <servlet-class>com.controller.ViewHodRejectedRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewHodRejectedRequest</servlet-name>
    <url-pattern>/ViewHodRejectedRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudentServlet</display-name>
    <servlet-name>AddStudentServlet</servlet-name>
    <servlet-class>com.controller.AddStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentServlet</servlet-name>
    <url-pattern>/AddStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddHodServlet</display-name>
    <servlet-name>AddHodServlet</servlet-name>
    <servlet-class>com.controller.AddHodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddHodServlet</servlet-name>
    <url-pattern>/AddHodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDashboardServlet</display-name>
    <servlet-name>AdminDashboardServlet</servlet-name>
    <servlet-class>com.controller.AdminDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDashboardServlet</servlet-name>
    <url-pattern>/AdminDashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSecurityServlet</display-name>
    <servlet-name>AddSecurityServlet</servlet-name>
    <servlet-class>com.controller.AddSecurityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSecurityServlet</servlet-name>
    <url-pattern>/AddSecurityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListAllUserServlet</display-name>
    <servlet-name>ListAllUserServlet</servlet-name>
    <servlet-class>com.controller.ListAllUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListAllUserServlet</servlet-name>
    <url-pattern>/ListAllUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListAllHodServlet</display-name>
    <servlet-name>ListAllHodServlet</servlet-name>
    <servlet-class>com.controller.ListAllHodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListAllHodServlet</servlet-name>
    <url-pattern>/ListAllHodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListAllSecurityServlet</display-name>
    <servlet-name>ListAllSecurityServlet</servlet-name>
    <servlet-class>com.controller.ListAllSecurityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListAllSecurityServlet</servlet-name>
    <url-pattern>/ListAllSecurityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListAllStudentServletHod</display-name>
    <servlet-name>ListAllStudentServletHod</servlet-name>
    <servlet-class>com.controller.ListAllStudentServletHod</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListAllStudentServletHod</servlet-name>
    <url-pattern>/ListAllStudentServletHod</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveStudent</display-name>
    <servlet-name>RemoveStudent</servlet-name>
    <servlet-class>com.controller.RemoveStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveStudent</servlet-name>
    <url-pattern>/RemoveStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailForChangePhoneNumber</display-name>
    <servlet-name>EmailForChangePhoneNumber</servlet-name>
    <servlet-class>com.controller.EmailForChangePhoneNumber</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailForChangePhoneNumber</servlet-name>
    <url-pattern>/EmailForChangePhoneNumber</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeMyPhoneNumberServlet</display-name>
    <servlet-name>ChangeMyPhoneNumberServlet</servlet-name>
    <servlet-class>com.controller.ChangeMyPhoneNumberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeMyPhoneNumberServlet</servlet-name>
    <url-pattern>/ChangeMyPhoneNumberServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AcceptPassStatus</display-name>
    <servlet-name>AcceptPassStatus</servlet-name>
    <servlet-class>com.controller.AcceptPassStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceptPassStatus</servlet-name>
    <url-pattern>/AcceptPassStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowMyInfoServlet</display-name>
    <servlet-name>ShowMyInfoServlet</servlet-name>
    <servlet-class>com.controller.ShowMyInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMyInfoServlet</servlet-name>
    <url-pattern>/ShowMyInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecurityDashboardServlet</display-name>
    <servlet-name>SecurityDashboardServlet</servlet-name>
    <servlet-class>com.controller.SecurityDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecurityDashboardServlet</servlet-name>
    <url-pattern>/SecurityDashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllSecurityRequest</display-name>
    <servlet-name>ViewAllSecurityRequest</servlet-name>
    <servlet-class>com.controller.ViewAllSecurityRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllSecurityRequest</servlet-name>
    <url-pattern>/ViewAllSecurityRequest</url-pattern>
  </servlet-mapping>
  <listener>
  	<listener-class>com.listner.ListnerSession</listener-class>
  </listener>
  <session-config>
  	<session-timeout>1</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>VerifyServlet</display-name>
    <servlet-name>VerifyServlet</servlet-name>
    <servlet-class>com.controller.VerifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyServlet</servlet-name>
    <url-pattern>/VerifyServlet</url-pattern>
  </servlet-mapping>
</web-app>